node_modules
**/node_modules
**/dist
**/.next
.git
**/.git
.gitignore
.env
.env.*
!**/.env.example
!**/.env.test
logs
**/logs
mongodb_data_container
databasus-data
redis_data
minio_data
graphify-out
.cursor
coverage
**/*.md
.DS_Store
**/__tests__
.pnpm-store
app/.git
